<template>
  <div id="app">
    <h1>
      <i class="fab fa-vuejs"></i>
      Hello, <%= userName %>!
    </h1>
    <img src="https://i.gifer.com/4Ln0.gif" alt>
  </div>
</template>

<script>
export default {
  name: "app"
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1 {
  text-align: center;
}
</style>
